.table {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 344px;
  height: 344px;
  background-color: #263238;
  display: flex;
  flex-wrap: wrap;
  border: 6px #37474f solid;
}
.tile {
  transition-property: left, top, opacity;
  transition-duration: 150ms;
  position: absolute;
  color:white;
  width: 80px;
  height: 80px;
  background-color: #4CAF50;
  border: 3px #263238 solid;
  text-align: center;
  line-height: 80px;
  font-size: 32px;
  border-radius: 7px;
}
.field {
  width: 80px;
  height: 80px;
  background-color: #263238;
}
.popup-animation {
  transition-property: font-size;
  transition-duration: 600ms;
}
h1 {
  width: 350px;
  text-align: center;
}
#new-game-btn {
  margin-top: 5px;
  width: 355px;
  height: 50px;
  border: 6px solid #37474f;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  background-color: #263238;
  color: white;
}